<header>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/LogoV.png" alt="Logo de la empresa">
            <!-- <div class="extend-menu">dwad</div> -->
            <ul class="menu">
                <li><a href="home"><i class="fa-solid fa-house"></i></a></li>
                <li class="menu-item"><i class="fa-solid fa-warehouse"></i>
                    <ul class="mini-menu">
                        <li><a href="consulProd">Visualizar productos</a></li>
                        <li><a>Agregar productos existentes</a></li>
                        <li><a>Registro de productos sacados</a></li>
                    </ul>
                </li>
                <a href="consulMob" class="ref-mini-menu"><li class="menu-item"><i class="fa-solid fa-couch"></i>
                    <ul class="mini-menu">
                        <li>Mobiliario</li>
                    </ul>
                </li></a>
                <li class="menu-item"><i class="fa-solid fa-desktop"></i>
                    <ul class="mini-menu">
                        <li><a>Visualizar equipos</a></li>
                        <li><a>Registrar equipos</a></li>
                    </ul>
                </li>
                <a href="responsivas" class="ref-mini-menu"><li class="menu-item"><i class="fa-solid fa-clipboard-list"></i>
                    <ul class="mini-menu">
                        <li>Responsivas</li>
                    </ul>
                </li></a>
            </ul>
        </div>
    </div>
</header>
<!-- <script>
    men = document.getElementsByClassName('sidebar')[0]
    document.getElementsByClassName('extend -menu')[0].addEventListener("click", function(e){
        men.style.width = "10rem";
    })
</script> -->