<header>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/LogoV.png" alt="Logo de la empresa">
            <!-- <div class="extend-menu">dwad</div> -->
            <ul class="menu">
                <li><a href="home"><i class="fa-solid fa-house"></i></a></li>
                <li class="menu-item"><i class="fa-solid fa-warehouse"></i>
                    <ul class="mini-menu">
                        <li><a href="consulProd">Visualizar productos</a></li>
                        <li><a href="productos_exist">Agregar productos existentes</a></li>
                        <li><a>Registro de productos sacados</a></li>
                    </ul>
                </li>
                <a href="consulMob" class="ref-mini-menu"><li class="menu-item"><i class="fa-solid fa-couch"></i>
                    <ul class="mini-menu">
                        <li>Mobiliario</li>
                    </ul>
                </li></a>
                <% if (permissions['EQUIPOS'] && (permissions['EQUIPOS'].includes('4') || permissions['EQUIPOS'].includes('2') || permissions['EQUIPOS'].includes('1') || permissions['EQUIPOS'].includes('3'))) { %>
                    <a href="consulEqp" class="ref-mini-menu"><li class="menu-item"><i class="fa-solid fa-desktop"></i>
                        <ul class="mini-menu">
                            <li>Equipos</li>
                        </ul>
                    </li></a>
                <% } %>
                <a href="responsivas" class="ref-mini-menu"><li class="menu-item"><i class="fa-solid fa-clipboard-list"></i>
                    <ul class="mini-menu">
                        <li>Responsivas</li>
                    </ul>
                </li></a>
                <% if (permissions['USUARIOS']) { %>
                    <li class="menu-item"><i class="fa-regular fa-address-card"></i>
                      <ul class="mini-menu">
                        <% if (permissions['USUARIOS'].includes('1')) { %>
                          <li><a href="registros">Registros</a></li>
                        <% } %>
                        <% if (permissions['USUARIOS'].includes('3')) { %>
                          <li><a href="modReg">Modificar Registros</a></li>
                        <% } %>
                        <% if (permissions['USUARIOS'].includes('3')) { %>
                          <li><a href="modPer">Modificar Permisos</a></li>
                        <% } %>
                      </ul>
                    </li>
                  <% } %>                                 
                <!-- <a href="registros" class="ref-mini-menu"><li class="menu-item"><i class="fa-regular fa-address-card"></i>
                    <ul class="mini-menu">
                        <li>Registros</li>
                    </ul>
                </li></a> -->
            </ul>
        </div>
    </div>
</header>
<!-- <script>
    men = document.getElementsByClassName('sidebar')[0]
    document.getElementsByClassName('extend -menu')[0].addEventListener("click", function(e){
        men.style.width = "10rem";
    })
</script> -->