<div class="Fone-item">
    <div class="boxes-containers one-item">
        <div class="title-container">
            Equipos en posesión
        </div>
        <div class="content-container">
            <form name="crearRespon" id="crearRespon">
                <div class="FTB">
                    <select id="mySelect" class="Eqp searchInput" required>
                        <option disabled selected>Buscar equipo...</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="Columns">
    <i class="fa-solid fa-file-excel excel-icon body-icons"></i>
    <div class="table-responsive item1">
        <table class="data-eqp info-table">
            <thead>
                <tr>
                    <th>Número de serie</th>
                    <th>Equipo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="boxes-containers item2 data">
        <div class="subtitle-container">
            Detalles del equipo
        </div>
        <% if (permissions['EQUIPOS'].includes('2')) { %>
        <i class="fa-solid fa-trash trash" aria-hidden="true"
        style="float: right; color: #001781; visibility: hidden;"></i>
        <% } %>
        <% if (permissions['EQUIPOS'].includes('3')) { %>
        <i class="fa fa-pencil-square-o edit" aria-hidden="true"
        style="float: right; color: #001781; visibility: hidden;"></i>
        <% } %>

        <form method="POST" enctype="multipart/form-data">
            <div class="description-equipment">
                <div class="DE">
                    <label>Equipo:</label>
                    <select id="Ename" class="Ename EditData EditSelect" name="Ename" required disabled></select>
                </div>
                <div class="DE">
                    <label>Número de serie:</label>
                    <input autocomplete="off" type="text" id="NumSerieE" name="NumSerieE" class="NumSerieE EditData"
                        required maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE">
                    <label>Marca:</label>
                    <input autocomplete="off" type="text" id="MarcaE" name="MarcaE" class="MarcaE EditData" required
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE">
                    <label>Modelo:</label>
                    <input autocomplete="off" type="text" id="ModeloE" name="ModeloE" class="ModeloE EditData" required
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE">
                    <label>Ubicación:</label>
                    <input autocomplete="off" type="text" id="UbiE" name="UbiE" class="UbiE EditData" required
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE Asignation">
                    <label hidden>CPU asignada:</label>
                    <input autocomplete="off" type="text" id="AsignCPU" name="AsignCPU" class="AsignCPU EditData"
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE Components">
                    <label hidden>Hardware:</label>
                    <input autocomplete="off" type="text" id="Hardware" name="Hardware" class="Separated Extras_CPU Hardware EditData"
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                    <label hidden>Software:</label>
                    <input autocomplete="off" type="text" id="Software" name="Software" class="Software Extras_CPU EditData"
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE Components">
                    <label hidden>Mouse:</label>
                    <input autocomplete="off" type="text" id="Mouse" name="Mouse" class="Separated Mouse Extras EditData"
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                    <label hidden>Teclado:</label>
                    <input autocomplete="off" type="text" id="Teclado" name="Teclado" class="Teclado Extras EditData"
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE Components">
                    <label hidden>Accesorio:</label>
                    <input autocomplete="off" type="text" id="Accesorio" name="Accesorio" class="Accesorio Extras EditData"
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="buttons"></div>
            </div>
        </form>
    </div>
    <% if (permissions['EQUIPOS'].includes('1')) { %>
    <i class="fa-solid fa-circle-plus" style="font-size: 25px;"></i>
    <% } %>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/equipments.css">
<script type="text/javascript" src="/javascripts/Equipos.js"></script>
<script type="text/javascript" src="/javascripts/desp_list_eqp.js"></script>