<div class="Fone-item">
    <div class="boxes-containers one-item">
        <div class="title-container">
            Equipos en posesión
        </div>
        <div class="content-container">
            <form name="crearRespon" id="crearRespon">
                <div class="FTB">
                    <select id="mySelect" class="Eqp searchInput" required>
                        <option disabled selected>Buscar equipo...</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="Columns">
    <div class="table-responsive item1">
        <table class="data-eqp info-table">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Número de serie</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="boxes-containers item2 data">
        <div class="subtitle-container">
            Detalles del equipo
        </div>
        <i class="fa-solid fa-trash trash" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>
        <i class="fa fa-pencil-square-o edit" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>

        <form method="POST" enctype="multipart/form-data">
            <div class="description-equipment">
                <div class="DE">
                    <label>Equipo:</label>
                    <input autocomplete="off" type="text" id="Ename" name="Ename" class="Ename EditData" required
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE">
                    <label>Número de serie:</label>
                    <input autocomplete="off" type="text" id="NumSerieE" name="NumSerieE" class="NumSerieE EditData"
                        required maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE">
                    <label>Marca:</label>
                    <input autocomplete="off" type="text" id="MarcaE" name="MarcaE" class="MarcaE EditData" required
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE">
                    <label>Modelo:</label>
                    <input autocomplete="off" type="text" id="ModeloE" name="ModeloE" class="ModeloE EditData" required
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DE">
                    <label>Ubicación:</label>
                    <input autocomplete="off" type="text" id="UbiE" name="UbiE" class="UbiE EditData" required
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="buttons"></div>
            </div>
        </form>
    </div>
    <i class="fa-solid fa-circle-plus" style="font-size: 25px;"></i>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/equipments.css">
<script type="text/javascript" src="/javascripts/Equipos.js"></script>