<div class="Fone-item">
    <div class="boxes-containers one-item">
        <div class="title-container">
            Mobiliario en posesión
        </div>
        <div class="content-container">
            <form name="crearRespon" id="crearRespon">
                <div class="FTB">
                    <select id="mySelect" class="Mob searchInput" required>
                        <option disabled selected>Buscar mobiliario...</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="Columns">
    <i class="fa-solid fa-file-excel excel-icon body-icons"></i>
    <div class="table-responsive item1">
        <table class="data-mob info-table">
            <thead>
                <tr>
                    <th>Articulo</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="item2 data boxes-containers">
        <% if (permissions['MOBILIARIO'].includes('2')) { %>
            <i class="fa-solid fa-trash trash" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>
        <% } %>
        <% if (permissions['MOBILIARIO'].includes('3')) { %>
        <i class="fa fa-pencil-square-o edit" aria-hidden="true"
        style="float: right; color: #001781; visibility: hidden;"></i>
        <% } %>
        <form method="POST" class="formulario" enctype="multipart/form-data">
            <div class="named-furniture">
                <input type="file" id="file" name="file" class="fileInput" accept="image/*" style="display: none;"><img
                    src="/images/add-image.png" class="furniture-image">
                <label>Mobiliario:</label>
                    <select id="Fname" name="Fname" class="Fname EditData" required disabled>
                        <option value=""></option>
                    </select>
            </div>
            <div class="description-furniture">
                <div class="DF">
                    <label>Ubicación:</label>
                    <input autocomplete="off" type="text" id="UbiM" name="UbiM" class="UbiM EditData" required
                        maxlength="400" oninput="mayus(this);" onkeypress="return checkA(event)" readonly>
                </div>
                <div class="DF">
                    <label>Cantidad:</label>
                    <input autocomplete="off" type="text" id="CantidadM" name="CantidadM" class="CantidadM EditData"
                        required min="1" onkeypress="return checkN(event)" readonly>
                </div>
                <div>
                    <label style="margin-bottom: 1rem;">Descripción:</label>
                    <textarea class="furniture-description DescM EditData" id="DescM" name="DescM"
                        oninput="mayus(this);" onkeypress="return checkA(event)" required readonly></textarea>
                </div>
                <div class="empleado"></div>
                <div class="buttons"></div>
            </div>
        </form>
    </div>
    <% if (permissions['MOBILIARIO'].includes('1')) { %>
    <i class="fa-solid fa-circle-plus" style="font-size: 25px;"></i>
    <% } %>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/furniture.css">
<script type="text/javascript" src="/javascripts/Mobiliario.js"></script>
<script type="text/javascript" src="/javascripts/desp_list_mob.js"></script>
<script type="text/javascript" src="/javascripts/consultar_permiso.js"></script>