<div class="contenedor_bienvenida">
    <h1>¡Bienvenido!</h1>
    <h1>¿Qué deseas hacer?</h1>
</div>
<div class="contenedor_index">
    <article id="pendientes">
        <div>
            <h2>Pendientes</h2>
            <ul>
                <li>
                    Notificaciones
                    <div class="details">Detalles sobre Notificaciones...</div>
                </li>
                <li>
                    Calificar
                    <div class="details">Detalles sobre Calificar...</div>
                </li>
                <li>
                    Revisión
                    <div class="details">Detalles sobre Revisión...</div>
                </li>
            </ul>
        </div>
    </article>
    <section id="noticias">
        <div>
            <h2>Noticias</h2>
            <p>Aqui van las noticias</p>
        </div>
    </section>
</div>
<script type="text/javascript" src="/javascripts/detalles.js"></script>