<!DOCTYPE html>
<html>

<head>
  <title>
    <%= typeof title !== 'undefined' ? title : 'Clarac' %>
  </title>
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+JP:wght@300;400;700;900&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/general.css' />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://kit.fontawesome.com/9c84429ff8.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/generalities.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://kit.fontawesome.com/9c84429ff8.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('partials/nav.ejs') %>
    <%- include('partials/sidebar.ejs') %>
      <main>
        <%- body %>
      </main>
      <script type="text/javascript" src="/javascripts/Mayusculas.js"></script>
</body>

</html>