<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/general.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/LogIn.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/9c84429ff8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%- include('partials/nav_log.ejs') %>
    </header>
    <div class="LogIn">
      <div id="errorMessage"></div>
      <form action="" name="Formulario" id="Formulario" method="POST">
        <h1 class="title">Iniciar Sesi칩n</h1>
        <!--Nombre-->
        <div class="field">
          <label class="label">Usuario</label>
          <input autocomplete="off" class="input_Login" type="text" name="user" id="user" placeholder="Ingresa tu usuario" required>
        </div>
        <!--Contrase침a-->
        <div class="field">
          <label class="label">Contrase침a</label>
          <input autocomplete="off" class="input_Login" type="password" name="pass" id="pass" placeholder="Ingresa tu contrase침a"
            required>
        </div>
        <input type="submit" value="Aceptar" class="input_Login success_login">
      </form>
    </div>
  </body>
  <script src="/javascripts/LogIn.js"></script>
  <script type="text/javascript" src="/javascripts/Mayusculas.js"></script>
  <script type="text/javascript" src="/javascripts/textVal.js"></script>
</html>