<div class="Fone-item">
    <div class="boxes-containers one-item">
        <div class="title-container">
            Modificar Permisos
        </div>
        <div class="content-container">
            <form name="crearRespon" id="crearRespon">
                <div class="FTB">
                    <select id="mySelect" class="Reg searchInput" required>
                        <option disabled selected>Buscar Permiso...</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="Columns" style="padding-top: 1.5rem;">
        <div class="table-responsive item1">
            <table class="data-prod info-table" style="visibility: hidden;">
                <thead>
                    <tr id="table-headers">
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="boxes-containers item2 data">
        <div class="referencia">
                <div class="aviso">Selecciona a un usuario para modificar los permisos que tiene dentro del sistema</div>
        </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/modPer.css">
<script type="text/javascript" src="/javascripts/modPer.js"></script>