<!DOCTYPE html>
<html>

<head>
    <title>
        <%= typeof title !== 'undefined' ? title : 'Clarac' %>
    </title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/javascripts/jquery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/general.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/9c84429ff8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/generalities.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('partials/nav.ejs') %>
        <%- include('partials/sidebar.ejs') %>
            <main>
                <%- body %>
            </main>
</body>
<script src='https://s3.amazonaws.com/popmotion.io/static/dist/popmotion.min.js'></script>
<script type="text/javascript" src="/javascripts/Mayusculas.js"></script>
<script type="text/javascript" src="/javascripts/textVal.js"></script>