<div class="Fone-item">
    <div class="boxes-containers one-item">
        <div class="title-container">
            Productos de almacén existentes
        </div>
        <div class="content-container">
            <form name="crearRespon" id="crearRespon">
                <div class="FTB">
                    <select id="mySelect" class="searchInput" required>
                        <option disabled selected>Buscar producto existente...</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="Columns">
    <div class="table-responsive item1">
        <table class="data-prod">
            <thead>
                <tr>
                    <th> Código de barras </th>
                    <th> Producto </th>
                    <th> Existencia </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="boxes-containers item2 data">
        <div class="subtitle-container">
            ¿Qué deseas hacer?
        </div>
        <i class="fa-solid fa-trash trash" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>
        <i class="fa fa-pencil-square-o edit" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>

        <form method="POST" enctype="multipart/form-data" style="height: 100%;">
            <div class="description-product" style="height: 100%;">
                <div class="actions two-boxes" style="height: 60%;">
                    <center>
                        <button class="options meter FTB" style="margin-right: 1rem;"><i class="fa-solid fa-circle-plus body-icons" style="font-size: 25px;"></i>Agregar productos al stock</button>
                        <button class="options sacar FTB"><i class="fa-solid fa-circle-minus body-icons" style="font-size: 25px;"></i>Sacar productos del stock</button>
                    </center>
                </div>
            </div>
        </form>
    </div>

    <!-- <div class="boxes-containers item2 data" name="agregar_prod" id="agregar_prod">
        <div class="subtitle-container">
            
        </div>
        <i class="fa-solid fa-trash trash" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>
        <i class="fa fa-pencil-square-o edit" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>

        <form method="POST" enctype="multipart/form-data" name="AltaExist" id="AltaExist">
            <div class="description-product">
                
            </div>
        </form>
    </div> -->

    <!-- <div class="boxes-containers item2 data" name="sacar_prod" id="sacar_prod" style="display: none">
        <div class="subtitle-container">
            Detalles del producto
        </div>
        <i class="fa-solid fa-trash trash" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>
        <i class="fa fa-pencil-square-o edit" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>

        <form method="POST" enctype="multipart/form-data" id="BajaExist" name="BajaExist">
            <div class="description-product">
                <div class="DP">
                    <label>Producto</label>
                    <input type="text" class="Pname" value="" readonly>
                </div>
                <div class="DP">
                    <label>Cantidad de productos a sacar</label>
                    <input autocomplete="off" type="number" id="CantidadP" name="CantidadP" required min="1"
                        oninput="mayus(this)">
                </div>
                <div class="DP">
                    <label>¿Quién requiere este producto?</label>
                    <select id="NombreEmp" required style="width: 100%;">
                        <option value=""></option>
                    </select>
                </div>
                <div class="buttons"></div>
            </div>
        </form>
    </div> -->
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/prod_exist.css">
<script type="text/javascript" src="/javascripts/Prod_exists.js"></script>