<script type="text/javascript" src="/javascripts/prod_sacados.js"></script>
<div class="Fone-item">
    <div class="boxes-containers one-item">
        <div class="title-container">
            Salida de productos
        </div>
        <div class="content-container">
            <form name="crearRespon" id="crearRespon">
                <div class="FTB">
                    <select id="mySelect" class="Prod searchInput" required>
                        <option disabled selected>Buscar producto...</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="Columns" style="padding-top: 1.5rem;">
            <i class="fa-solid fa-file-excel excel-icon body-icons"></i>
            <div class="table-responsive item1" style="display: flex; margin-right: 0; justify-content: center!important;">
                <table class="data-prod info-table">
                    <thead>
                        <tr>
                            <th> Código de barras </th>
                            <th> Producto </th>
                            <th> Encargado </th>
                            <th> Cantidad de salida </th>
                            <th> Fecha de salida </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/prod_exist.css">