<div class="Fone-item">
    <div class="boxes-containers one-item">
        <div class="title-container">
            Registros
        </div>
        <div class="Columns">
            <div class="boxes-containerss item2">
                <i class="fa-solid fa-trash trash" aria-hidden="true"
                    style="float: right; color: #001781; visibility: hidden;"></i>
                <i class="fa fa-pencil-square-o edit" aria-hidden="true"
                    style="float: right; color: #001781; visibility: hidden;"></i>
        
                <form id="mainForm" method="POST" enctype="multipart/form-data" style="height: 100%;" onsubmit="">
                    <div class="description-product" style="height: 100%;">
                        <div class="actions two-boxes-registro" style="height: 60%;">
                            <center>
                                <button class="options meter registro FTB" style="margin-right: 1rem;"><i class="fa-solid fa-circle-plus body-icons" style="font-size: 25px;"></i>Agregar Empleado </button>
                                <button class="options sacar registro FTB"><i class="fa-solid fa-circle-plus body-icons" style="font-size: 25px;"></i>Agregar Usuarios</button>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/registros.css">
<script type="text/javascript" src="/javascripts/Registros.js"></script>