<div class="Fone-item">
    <div class="boxes-containers one-item">
        <div class="title-container">
            Registros
        </div>
        <div class="Columns">
            <!-- <div class="table-responsive item1">
                <table class="data-prod">
                    <thead>
                        <tr>
                            <th> Usuario </th>
                            <th> Area </th>
                            <th> XD </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div> -->
            <div class="boxes-containerss item2">
                <!-- <div class="subtitle-container">
                    ¿Qué deseas hacer?
                </div> -->
                <i class="fa-solid fa-trash trash" aria-hidden="true"
                    style="float: right; color: #001781; visibility: hidden;"></i>
                <i class="fa fa-pencil-square-o edit" aria-hidden="true"
                    style="float: right; color: #001781; visibility: hidden;"></i>
        
                <form id="mainForm" method="POST" enctype="multipart/form-data" style="height: 100%;" onsubmit="return validateForm(event)">
                    <div class="description-product" style="height: 100%;">
                        <div class="actions two-boxes-registro" style="height: 60%;">
                            <center>
                                <button class="options meter registro FTB" style="margin-right: 1rem;"><i class="fa-solid fa-circle-plus body-icons" style="font-size: 25px;"></i>Agregar Usuarios </button>
                                <button class="options sacar registro FTB"><i class="fa-solid fa-circle-minus body-icons" style="font-size: 25px;"></i>Agregar Empleado</button>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
                                <!-- <div class="DP">
                                    <label>Empleado</label>
                                    <input type="text" class="empleado-campo" value="" placeholder="Nombre Empleado" required>
                                </div>
                                <div class="DP">
                                    <label>Area</label>
                                    <select id="Fname" name="Fname" class="empleado-campo" required >
                                        <option value=""></option>
                                        <option>ADMINISTRACION</option>
                                        <option>PREESCOLAR</option>
                                        <option>PRIMARIA</option>
                                        <option>SECUNDARIA</option>
                                        <option>PREPARATORIA</option>
                                        <option>SERVICIOS GENERALES</option>
                                        <option>SISTEMAS</option>
                                    </select>
                                </div>
                                <div class="DP">
                                    <label>Jefe</label>
                                    <select id="Fname" name="Fname" class="empleado-campo" required>
                                        <option></option>
                                        <option> Navarro Jimenez Martha Lidia</option>
                                    </select>
                                </div>
                                -->
                                <!-- <div class="DPflag">
                                    <label for="flag">Deseas agregar un usuario?</label>
                                    <input type="checkbox" id="flag" name="" onclick="toggleContentAndValidation()">
                                </div> -->
                                <!-- <div id="hidden-content" style="display: none;"> -->
                                <!--
                                    <div class="subtitle-container">
                                        Registrar Usuario
                                    </div>
                                    <div class="DP">
                                        <label>Empleado Asignado</label>
                                        <select id="Fname" name="Fname" class="Fname EditData" aria-placeholder="Buscar empleado" required>
                                            <option></option>
                                            <option>test</option>
                                        </select>
                                    </div>
                                    <div class="DP">
                                        <label>Nombre Usuario</label>
                                        <input type="text" class="Pname" name="a" placeholder="Nombre Usuario" required>
                                    </div>
                                    <div class="DP">
                                        <label>Contraseña Nueva</label>
                                        <input type="password" class="Pname" name="s" placeholder="Contraseña Nueva" required>
                                    </div>
                                    <div class="subtitle-container">
                                        Asignar Módulos
                                    </div>
                                    <div class="module-section">
                                        <div class="module-category">
                                            <div class="subsubtitle-container">Almacén</div>
                                            <div class="DPU">
                                                <label for="addalmacen">Altas</label>
                                                <input type="checkbox" id="addalmacen" name="addalmacen">
                                            </div>
                                            <div class="DPU">
                                                <label for="delalmacen">Bajas</label>
                                                <input type="checkbox" id="delalmacen" name="delalmacen">
                                            </div>
                                            <div class="DPU">
                                                <label for="modalmacen">Cambios</label>
                                                <input type="checkbox" id="modalmacen" name="modalmacen">
                                            </div>
                                            <div class="DPU">
                                                <label for="conalmacen">Consultas</label>
                                                <input type="checkbox" id="conalmacen" name="conalmacen">
                                            </div>
                                        </div>
                                        <div class="module-category">
                                            <div class="subsubtitle-container">Mobiliario</div>
                                            <div class="DPU">
                                                <label for="addmobiliario">Altas</label>
                                                <input type="checkbox" id="addmobiliario" name="addmobiliario">
                                            </div>
                                            <div class="DPU">
                                                <label for="delmobiliario">Bajas</label>
                                                <input type="checkbox" id="delmobiliario" name="delmobiliario">
                                            </div>
                                            <div class="DPU">
                                                <label for="modmobiliario">Cambios</label>
                                                <input type="checkbox" id="modmobiliario" name="modmobiliario">
                                            </div>
                                            <div class="DPU">
                                                <label for="conmobiliario">Consultas</label>
                                                <input type="checkbox" id="conmobiliario" name="conmobiliario">
                                            </div>
                                        </div>
                                        <div class="module-category">
                                            <div class="subsubtitle-container">Equipos</div>
                                            <div class="DPU">
                                                <label for="addequipos">Altas</label>
                                                <input type="checkbox" id="addequipos" name="addequipos">
                                            </div>
                                            <div class="DPU">
                                                <label for="delequipos">Bajas</label>
                                                <input type="checkbox" id="delequipos" name="delequipos">
                                            </div>
                                            <div class="DPU"> 
                                                <label for="modequipos">Cambios</label>
                                                <input type="checkbox" id="modequipos" name="modequipos">
                                            </div>
                                            <div class="DPU"> 
                                                <label for="conequipos">Consultas</label>
                                                <input type="checkbox" id="conequipos" name="conequipos">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="module-section">
                                        <div class="module-category">
                                            <div class="subsubtitle-container">Usuarios</div>
                                            <div class="DPU">
                                                <label for="addusuario">Altas</label>
                                                <input type="checkbox" id="addusuario" name="addusuario">
                                            </div>
                                            <div class="DPU">
                                                <label for="delusuario">Bajas</label>
                                                <input type="checkbox" id="delusuario" name="delusuario">
                                            </div>
                                            <div class="DPU"> 
                                                <label for="modusuario">Cambios</label>
                                                <input type="checkbox" id="modusuario" name="modusuario">
                                            </div>
                                            <div class="DPU">   
                                                <label for="conusuario">Consultas</label>
                                                <input type="checkbox" id="conusuario" name="conusuario">
                                            </div>
                                        </div>
                                        <div class="module-category">
                                            <div class="subsubtitle-container">Empleados</div>
                                            <div class="DPU">
                                                <label for="addempleado">Altas</label>
                                                <input type="checkbox" id="addempleado" name="addempleado">
                                            </div>
                                            <div class="DPU">
                                                <label for="delempleado">Bajas</label>
                                                <input type="checkbox" id="delempleado" name="delempleado">
                                            </div>
                                            <div class="DPU"> 
                                                <label for="modempleado">Cambios</label>
                                                <input type="checkbox" id="modempleado" name="modempleado">
                                            </div>
                                            <div class="DPU">   
                                                <label for="conempleado">Consultas</label>
                                                <input type="checkbox" id="conempleado" name="conempleado">
                                            </div>
                                        </div>
                                        <div class="module-category">
                                            <div class="subsubtitle-container">Responsivas</div>
                                            <div class="DPU">
                                                <label for="addresponsiva">Agregar</label>
                                                <input type="checkbox" id="addresponsiva" name="addresponsiva">
                                            </div>
                                            <div class="DPU hidden">
                                                <label for="b">Bajas</label>
                                                <input type="checkbox" id="b" name="">
                                            </div>
                                            <div class="DPU hidden"> 
                                                <label for="c">Cambios</label>
                                                <input type="checkbox" id="c" name="">
                                            </div>
                                            <div class="DPU hidden">   
                                                <label for="d">Consultas</label>
                                                <input type="checkbox" id="d" name="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <input type="submit" value="Guardar" id="modyEqp" name="modyEqp" class="Modify">
                                    <input type="submit" value="Cancelar" id="cancelEqp" onclick="cancel()" name="cancelEqp" class="Cancel">
                                </div>
                            -->
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



    <!-- <div class="boxes-containers item2 data" name="agregar_prod" id="agregar_prod">
        <div class="subtitle-container">
            
        </div>
        <i class="fa-solid fa-trash trash" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>
        <i class="fa fa-pencil-square-o edit" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>

        <form method="POST" enctype="multipart/form-data" name="AltaExist" id="AltaExist">
            <div class="description-product">
                
            </div>
        </form>
    </div> -->

    <!-- <div class="boxes-containers item2 data" name="sacar_prod" id="sacar_prod" style="display: none">
        <div class="subtitle-container">
            Detalles del producto
        </div>
        <i class="fa-solid fa-trash trash" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>
        <i class="fa fa-pencil-square-o edit" aria-hidden="true"
            style="float: right; color: #001781; visibility: hidden;"></i>

        <form method="POST" enctype="multipart/form-data" id="BajaExist" name="BajaExist">
            <div class="description-product">
                <div class="DP">
                    <label>Producto</label>
                    <input type="text" class="Pname" value="" readonly>
                </div>
                <div class="DP">
                    <label>Cantidad de productos a sacar</label>
                    <input autocomplete="off" type="number" id="CantidadP" name="CantidadP" required min="1"
                        oninput="mayus(this)">
                </div>
                <div class="DP">
                    <label>¿Quién requiere este producto?</label>
                    <select id="NombreEmp" required style="width: 100%;">
                        <option value=""></option>
                    </select>
                </div>
                <div class="buttons"></div>
            </div>
        </form>
    </div> -->
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/registros.css">
<script type="text/javascript" src="/javascripts/Registros.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/prod_exist.css">
<script type="text/javascript" src="/javascripts/Prod_exists.js"></script> -->