<script type="text/javascript" src="/javascripts/solicitudes.js"></script>
<div class="Fone-item">
    <div class="boxes-containers one-item" style="width: 50%;">
        <div class="title-container">
            Solicitudes de productos
        </div>
        <div class="two-boxes One-item-dir">
            <center>
                <button class="options action-peti FTB" style="margin-right: 1rem;"><i
                        class="fa-solid fa-circle-plus body-icons" style="font-size: 25px;"></i>Solicitudes pendientes</button>
                <button class="options status FTB"><i class="fa-solid fa-circle-minus body-icons"
                        style="font-size: 25px;"></i>Estatus de solicitudes</button>
            </center>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/prod_exist.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/solicitudes.css">