
/* CSS PANTALLA MOBILIARIO */

.furniture-description {
    width: 100%;
    height: 8rem;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    overflow-y: hidden;
    border: 1px solid #ccc;
}

.item1 {
    flex: 1 1 40%;
    margin-right: 2rem;
}

.item2 {
    flex: 1 1 45%;
}

.furniture-image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.furniture-image:hover {
    scale: (1.1);
}

.table-responsive {
    display: block;
    width: 100%;
    height: 30.5rem;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 1rem;
}

.table-responsive table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 39rem;
}

.table-responsive thead {
    position: sticky;
    top: 0;
}

.named-furniture {
    display: flex;
    align-items: center;
}

.named-furniture img {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.description-furniture div {
    margin-bottom: 1rem;
    align-items: center;
}

.Columns {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 4rem;
    justify-content: space-between;
}

.Fname {
    text-transform: capitalize;
}

.DF {
    display: var(--displayF);
}

.DF label {
    display: flex;
    width: 12rem;
    align-items: center;
    width: auto;
    margin-right: 1rem;
}

.DesciptionM {
    background-color: #ccc;
    padding: 0.3rem;
    padding-left: 0.5rem;
    border-radius: 0.7rem;
    width: 100%;
    height: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.DescM {
    height: 8rem;
    width: 98%;
}

.cancelMob {
    background-color: rgb(134, 0, 0)!important;
}

.buttons {
    display: flex;
    margin-bottom: 0!important;
}

.buttons input {
    margin-top: 0;
}

.fa-circle-plus {
    color: #001781;
    top: 0.3rem;
    left: 0.3rem;
    position: relative;
}