* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: inherit;
}

i {
    color: #fff;
}

html {
    font-size: 94%;
    width: 100%;
    height: 100%;
}

body {
    background: #eee;
    border-radius: 1rem;
}

main {
    margin: 6rem 3rem 0 4rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    right: 0;
    background: linear-gradient(to left, #0A8EBC, #001781);
    /* background-color: #001781; */
    z-index: 1;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 90%;
    margin: auto 2rem;
}

td:nth-child(n + 3),
th:nth-child(n + 3) {
    text-align: center;
}

td:first-child {
    border-left: 1px solid var(--light_gray);
}

td:last-child {
    border-right: 1px solid var(--light_gray);
}

thead {
    text-transform: uppercase;
}

thead th:first-child {
    border-top-left-radius: 1rem;
}

thead th:last-child {
    border-top-right-radius: 1rem;
}

th,
td {
    padding: 1rem;
    font-size: 1rem;
}

tr {
    background: hsl(0, 0%, 100%);
}

tr,
td {
    transition: .3s ease-in;
}

thead tr:first-child {
    background: linear-gradient(to top, #0A8EBC, #001781);
    color: white;
}

tr:nth-child(even) {
    background: hsla(0, 0%, 93%, 0.7);
}

td:empty {
    background: hsla(0, 0%, 93%, 0.7);
}

tr:hover:not(#firstrow),
tr:hover td:empty {
    pointer-events: visible;
}

tr:hover:not(#firstrow) {
    transform: scale(1.01);
}

header .logo {
    cursor: pointer;
    margin-right: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header .logo img {
    margin-top: 0.7rem;
    height: 45px;
    width: auto;
    transition: all 0.3s;
    margin-bottom: 2rem;
}

header .logo img:hover {
    transform: scale(1.2);
}

header {
    display: flex;
}

label {
    display: block;
    /* font-weight: 700; */
    color: black;
    text-transform: capitalize;
    margin-right: 0.5rem;
    vertical-align: middle;
}

input,
select,
textarea {
    background-color: var(--light_gray);
    border-radius: 0.7rem;
    border: none;
    height: 1.5rem;
    padding-left: 0.5rem;
}

#mySelect {
    width: 100%;
}

:root {
    --displayF: flex;
    --grey: #eee;
    --white: #fff;
    --light_gray: #ccc;
}

input[type="submit"] {
    display: flex;
    flex-direction: column;
    background-color: #001781;
    color: white;
    height: 2rem;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-top: 1.5rem;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

.btn-logout {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 9rem;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #001781;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0A8EBC;
}


.menu-item {
    display: inline-block;
    transition: all 0.5s;
}

.menu li:hover {
    transition: all 0.5s;
}

.mini-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #ccc;
    top: -1rem;
    left: 2rem;
    padding-left: 0;
    border-radius: 0.6rem;
    width: 11.5rem;
}

.mini-menu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.mini-menu li {
    margin: 0;
}

.mini-menu li:first-child {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.mini-menu li:last-child {
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.mini-menu li:hover {
    margin: 0;
    background-color: #001781;
    color: white;
}

.mini-menu li a:hover {
    color: white;
}

.mini-menu li:last-child {
    margin-bottom: 0;
}

.mini-menu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.menu li:hover .mini-menu {
    visibility: visible;
    opacity: 1;
    background-color: white;
    border: 1px solid #ccc;
}

.menu-item .mini-menu::after {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: -1.2rem;
    border: 1px solid transparent;
    border-width: 10px;
    border-left-color: #ccc;
    ;
    transform: translateY(-50%) rotate(180deg);
}

.sidebar {
    top: 0;
    height: 100%;
    width: 4.5%;
    position: fixed;
    background: linear-gradient(to top, #0A8EBC, #001781);
    z-index: 2;
    flex-direction: column;
    display: flex;
}

.menu {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.menu li {
    margin-bottom: 2rem;
    list-style: none;
    position: relative;
}

.mini-menu li {
    margin-bottom: 0;
}

.ref-mini-menu .menu-item ul li {
    padding: 15px;
    text-decoration: none;
}

/* Items */

.boxes-containers {
    background-color: var(--white);
    border: 1px solid var(--light_gray);
    border-radius: 1rem;
    padding: 1.3rem 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.one-item {
    width: 90%;
    place-self: center;
    justify-self: center;
}

.Fone-item {
    display: grid;
}

.title-container {
    border-bottom: 1px #000000 solid;
    font-weight: bold;
    font-size: 1.23rem;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.subtitle-container {
    border-bottom: 1px #000000 solid;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.subsubtitle-container {
    border-bottom: 1px #000000 solid;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.subsubtitleespecial-container {
    /* border-top: 1px #000000 solid; */
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.two-boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.two-boxes .FTB {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding: 0 1rem;
}

.two-boxes-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.two-boxes-registro .FTB {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
}

/* .two-boxes-registro .FTB {
    font-size: 14px; 
} */


.two-boxes-registro .FTB i {
    margin-bottom: 10px;
    /* Espacio entre ícono y texto */
    font-size: 24px;
    /* Ajuste del tamaño del ícono */
}

.item1 {
    flex: 1 1 40%;
    margin-right: 2rem;
}

.item2 {
    height: 100%;
    flex: 1 1 45%;
}

.table-responsive-box {
    display: block;
    width: 100%;
    max-height: 16.5rem;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 1rem;
}

.table-responsive {
    display: block;
    width: 100%;
    max-height: 20.5rem;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 1rem;
}

.table-responsive table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 20.5rem;
}

.table-responsive thead {
    position: sticky;
    top: 0;
}

.edit {
    margin-right: 1rem;
    margin-bottom: 0.7rem;
}

.Cancel {
    background-color: rgb(134, 0, 0) !important;
}

.Deny {
    background-color: rgb(199, 0, 0) !important;
}

.excel-icon {
    position: absolute;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.body-icons {
    color: #001781;
}

.Separated {
    margin-right: 1rem;
}

.btn-logout {
    cursor: pointer;
}

.DF {
    display: var(--displayF);
}

.DF label {
    display: flex;
    width: 12rem;
    align-items: center;
    width: auto;
    margin-right: 1rem;
}

.buscar {
    width: 99% !important;
}

.separador {
    border: solid 1px black;
}

.data-sol span {
    margin-right: 0.5rem;
}

.data-sol b {
    margin-right: 0.2rem;
}

.One-item-dir {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.child-item-dir {
    padding: 2.5rem 2rem;
    width: 65%;
}

.one-button {
    justify-content: center!important;
}

.globalColumn {
    display: block;
    margin: 1rem 4rem;
}

.status-peti {
    justify-self: center;
}

.fa-clock-rotate-left {
    top: 1.5rem;
    right: 0.7rem;
    position: absolute;
}